@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 1100px;
    max-width: 95%;
    margin: 0 auto;
}

header {
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 137px;
    height: 58px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

header nav ul li a::after {
    width: 0%;
    height: 2px;
    background-color: black;
    display: block;
    content: '';
    margin-top: 6px;
    transition: .3s;
}

header nav ul li a:hover::after {
    width: 100%;
}

.text {
    margin-top: 300px;
    position: relative;
    z-index: 1;
}

.text h1 {
    font-weight: 700;
    font-size: 40px;
    animation: onshowText 1s ease-out;
}

.text p {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 50px;
    animation: onshowText 1s ease-out;
}

a.btn {
    border: 4px solid black;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    color: black;
    padding: 8px 32px;
    border-radius: 10px;
}

a.btn:hover {
    color: white;
    background-color: black;
}

.spline {
    position: absolute;
    left: 0;
    top: 90px;
    height: calc(100vh - 120px);
    width: 100%;
    overflow: hidden;
}

.spline spline-viewer {
    height: 100vh;
}

@keyframes onshowText {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}